<!--<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render('api/users/user.json.jbuilder', user: current_user).html_safe %>
  </script>
<% end %>-->
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<main id="root"></main>