.checkin-form-top {
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.checkin-form-title {
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
}

.modal-close-icon {
    color: #fff;
    font-weight: 400;
}