.checkin-form-top {
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.checkin-form-title {
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
}

.checkin-form-body {
    padding: 16px;
}

.modal-close-icon {
    color: #fff;
    font-weight: 400;
}

.review-text {
    resize: none;
    width: 80%;
    height: 80px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
    outline: none;
}

.checkin-photo-button {
    width: 16.8%;
    height: 76px;
    background: image-url("ico_checkin_photo.png");
    background-size: 80px 80px;
    background-position: center center;
    background-color: #ffcc00;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #7d7070;
    cursor: pointer;
}

.checkin-photo-button:hover {
    background-color: rgb(245, 184, 38);
    transition: .3s;
}

.checkin-photo-button:active {
    box-shadow: 1px 1px 2px #7d7070 inset;
}

.photo-and-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.slideset-and-confirm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.slide-output {
    display: flex;
    align-items: center;
    width: 64%;
    border-right: 1px solid #d6d6d6;
    padding-right: 18px;
}

.checkin-form-slide {
    -webkit-appearance: none;
    appearance: none;
    background-image: linear-gradient(#747474, #959595);
    height: 8px;
    width: 80%;
    border-radius: 4px;
    margin-right: 10px;
}

.checkin-form-slide::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 32px;
    height: 32px;
    background: #edb500;
    cursor: pointer;
    border-radius: 50%;
}

.checkin-form-slide::-moz-range-thumb {
    width: 32px;
    height: 32px;
    background: #edb500;
    cursor: pointer;
    border-radius: 50%;
}

.output-container {
    color: #fff;
    background: rgba(0, 0, 0, .4);
    font-size: 22px;
    padding: 0 8px 2px 8px;
    text-align: center;
    border-radius: 4px;
    position: relative;
}

.output-container:before {
    right: 100%;
    border: 10px solid transparent;
    content: " ";
    position: absolute;
    border-color: rgba(255,255,255,0);
    border-right-color: rgba(0,0,0,0.4);
    top: 50%;
    margin-top: -10px;
}

.text-star {
    font-size: 11px;
}

.confirm-container {
    display: flex;
    justify-content: center;
    width: 28%;
}

.confirm-btn {
    padding: 8px 32px;
    color: #fff;
    background: #ffcc00;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 18px;
    box-shadow: 1px 1px 2px #7d7070;
}

.confirm-btn:hover {
    background: rgb(245, 184, 38);
    transition: .3s;
}

.confirm-btn:active {
    box-shadow: 1px 1px 2px #7d7070 inset;
}

.max-chars {
    position: absolute;
    right: 98px;
    bottom: 4px;
    font-size: .7em;
    background: #eee;
    padding: 2px 4px;
    color: #999;
}