.checkin-form-top {
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.checkin-form-title {
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
}

.checkin-form-body {
    padding: 16px;
}

.modal-close-icon {
    color: #fff;
    font-weight: 400;
}

.review-text {
    resize: none;
    width: 80%;
    height: 80px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    margin-right: 1.5%;
    font-size: 1em;
    box-sizing: border-box;
}