// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-form-container {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), image-url('beer-bg.jpg');
  background-size: cover;
  background-position: center top;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-signup h2, .signup h2 {
  font-size: 60px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #3f4040;
}

.login-signup h6, .signup h6 {
  letter-spacing: 3px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #909090;
}

.login-signup input, .signup input {
  font-size: 1em;
  padding: 2px 0px 0px 12px;
  box-sizing: border-box;
  border: none;
  width: 80%;
}

.icon-input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #a9a9a9;
  margin-bottom: 15px;
  border-radius: 5px;
  height: 40px;
}

.fa-user, .fa-unlock, .fa-envelope {
  color: #a9a9a9;
  margin-left: 12px;
  border-right: 1px solid #a9a9a9;
  padding-right: 12px;
}

.button-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.button-holder button:hover {
  background: #FFF;
  transition: .3s;
  color: #ffcc00;
  border: 1px solid #ffcc00;
}

.login-signup button, .signup button {
  font-size: 18px;
  width: 100%;
  max-width: 300px;
  height: 40px;
  color: white;
  background-color: #ffcc00;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px gray;
  border-radius: 5px;
}

.login-signup button:active, .signup button:active {
  box-shadow: 2px 2px 2px gray inset;
}

.login-signup-switch {
  font-size: 20px;
  color: grey;
}

.login-signup-switch a {
  text-decoration: none;
  color: #c60;
}

.login-signup-switch a:hover {
  cursor: pointer;
  opacity: .5;
  transition: .3s;
}

form.login-signup {
  width: 400px;
  background: white;
  display: flex;
  justify-content: center;
}

.input-holder {
  width: 100%;
}

.inner-session-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 24px 16px;
  min-height: 450px;
}

.form-header a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header a:hover {
  opacity: .5;
}

.err-msg {
  color: white;
  list-style-type: none;
  text-align: center;
  font-size: 1em;
}

.err-ul {
  background: #E25858;
  border: 1px solid #E25858;
  border-radius: 5px;
  padding: 5px;
  max-width: 255px;
}

.guest-user {
  background: #354d89;
  padding: 15px 32px;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 2px 2px 2px grey;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.guest-user span {
  font-weight: bold;
}

.guest-user:hover {
  color: #354d89;
  background: #FFF;
  border: 1px solid #354d89;
  box-sizing: border-box;
}

.guest-user:active {
  box-shadow: 2px 2px 2px gray inset;
}

.or {
  font-size: .8em;
  width: 36px;
  height: 36px;
  border: 3px solid #ddd;
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
}

::placeholder {
  color: #ccc; 
}