// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-login-signup {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.nav-login-signup a {
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid white;
  padding: 15px;
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  // font-weight: 900;
  font-family: 'Raleway', sans-serif;
}

.nav-login-signup a:hover {
  background: white;
  color: black;
  transition: .3s;
}

.nav-login {
  margin-right: 20px;
}

h1 {
  font-size: 70px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.masthead {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('beer-bg.jpg');
  background-size: cover;
  background-position: center top;
}

.greeting-block {
  display: flex;
  justify-content: flex-end;
  color: white;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
}

.greeting-block img {
  width: 50%;
  height: auto;
}

.josefin {
  font-family: 'Josefin Sans', sans-serif;
}

.greeting-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.greeting-text-block p {
  font-size: 2.0rem;
  margin-top: 25px;
}

.yellow-bar {
  border: 2px solid #ffc000;
  width: 10%;
  margin-top: 10px;
}

h6 {
  letter-spacing: 3px;
  font-size: 12px;
}

i.fab {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

i.fa-apple {
  margin-right: 10px;
}

i.fa-android {
  margin-left: 10px;
}

i.fa-untappd {
  font-size: 6rem;
  margin-bottom: 10px;
}

.icon-block {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}