// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav.user-profile-navbar {
  background: #ffcc00;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.nav-container {
  width: 100%;
  height: 100%;
  max-width: 1036px;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.nav-logo a {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 45px;
  font-weight: 700;
}

.nav-logo a:hover {
  color: gray;
  transition: .3s;
}

.nav-logo h1 {
  font-size: 30px;
}

.nav-logo h6 {
  font-size: 6px;
}

nav.user-profile-navbar ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}

nav.user-profile-navbar ul li a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
}

nav.user-profile-navbar ul li a:hover {
  color: gray;
  transition: .3s;
}

nav.user-profile-navbar i {
  margin: 0;
}

.logo-and-ul {
  display: flex;
  justify-content: space-around;
}

.pic-username {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pic-username img {
  height: 36px;
  width: 36px;
  border-radius: 100%;
  margin-right: 15px;
}

section.profile-body {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  min-height: 950px;
  position: relative;
}

.profile-body-header {
  background: linear-gradient(transparent, rgba(0,0,0,0.6)), image-url('profile-bg-img.jpg');
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 260px;
  display: flex;
  align-items: flex-end;
}

.profile-body-header img {
  height: 80px;
  width: 80px;
  border: 2px solid white;
  border-radius: 100%;
  margin: 0 0 30px 20px;
}

header.user-profile-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile-info {
  margin-left: 45px;
  margin-bottom: 30px;
}

.profile-info h2 {
  color: white;
  font-size: 2.2em;
  font-weight: 600;
}

.profile-info p {
  color: white;
  font-size: 1.1em;
}

.profile-info li {
  color: white;
  list-style-type: none;
  margin-right: 24px;
  font-size: .9em;
}

.info-list {
  margin-top: 15px;
  display: flex;
}

.info-list a {
  color: #fff;
}

.info-list a:hover {
  text-shadow: 0 0 20px rgba(255,255,255,0.8);
}

.logout-btn {
  background: white;
  padding: 5px;
  border-radius: 4px;
  width: 170px;
  text-align: center;
  box-shadow: 2px 2px 2px;
  font-size: 12px;
}

.logout-btn:active {
  box-shadow: 2px 2px 2px inset;
}

.pic-username p {
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
  color: gray;
  text-align: center;
}

.create-space {
  height: 48px;
}

.profile-body-pic-box {
  width: 67%;
  display: flex;
  max-height: 129.2px;
}

.img-box img {
  width: 100%;
  height: 100%;
  margin-bottom: 16px;
}

.img-box {
  padding: 0 4px;
  width: 20%;
  height: 100%;
  box-sizing: border-box;
}

aside.profile-sidebar {
  width: 33%;
}

.photo-aside-wrapper {
  display: flex;
}

.profile-lists, .profile-your-events, .profile-top-beers {
  padding: 16px; 
}

.profile-lists h3, .profile-your-events h3, .profile-top-beers h3 {
  font-weight: 600;
  font-size: 1.2em;
  padding-bottom: 6px;
  margin-bottom: 8px;
  border-bottom: 1px solid #e5e5e5;
}

.profile-lists-container, .profile-events-container {
  background: #fff;
  margin-bottom: 24px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
}

.profile-body-content {
  margin-top: 16px;
}

@media only screen and (max-width: 900px) {
  .profile-sidebar {
    display: none;
  }

  .profile-body-pic-box {
    width: 100%;
  }
}